NTNU_API_KEY=
NTNU_CHAT_URL=https://gpt.ntnu.no/api/models/chat-completion
NTNU_EMBED_URL=https://gpt.ntnu.no/api/models/embeddings

CHAT_MODEL=gpt-4o-mini
EMBEDDING_MODEL=multilingual-e5-large-instruct

VECTOR_DB_PATH=vectorstore/
