# IDE - IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# IDE - VSCode
.vscode/
*.code-workspace

# IDE - Eclipse
.classpath
.project
.settings/

# python
__pycache__/
*.pyc
.venv/
venv/

# secrets
.env

# data / indexes
data/raw/
vectorstore/
chroma_db/
faiss_index/
*.db

# System Files
.DS_Store
Thumbs.db

# Logs
*.log
